<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="template/css/styles.css">
    <script src="template/js/modernizr.js"></script>
    <script type="text/javascript">
        var DND = {};
    </script>
</head>
<body>

    <div class="b-page">
        <div class="b-page__max container-fluid">
            <header class="b-header row">
                <div class="col-xs-12">
                    <div class="b-header__inner">#header#</div>
                </div>
            </header>
            <div class="b-page__content container-fluid">
                <div class="row">
                    <aside class="b-page__left-column col-sm-4 col-md-3">
                        
                        <div class="b-category-list b-category-list__open b-category-list--stick b-folders" data-folder-move="move.php" data-folder-current="">
                            <ul class="b-category-list__ul overthrow nano-content">
                                <li class="b-category-list__item ">
                                    <a href="/my/profile/" class="b-category-list__a">
                                        <span class="b-category-list__val">Мой профиль</span>
                                    </a>
                                </li>
                                <li class="b-category-list__item">
                                    <div class="b-folders__item" data-id="0">
                                        <a href="/my/offers/" class="b-category-list__a b-folders__parent">
                                            <span class="b-category-list__val">Мой фотоальбом</span>
                                            <span class="b-category-list__count">(7)</span>
                                        </a>
                                    </div>
                                    <ul class="b-category-list__sub b-folders__list">
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="178">
                                                <a href="/my/offers/folder-178/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Бурные ночи</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="174">
                                                <a href="/my/offers/folder-174/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Выпускной Паши</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="186">
                                                <a href="/my/offers/folder-186/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Даша</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="188">
                                                <a href="/my/offers/folder-188/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Дети</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="202">
                                                <a href="/my/offers/folder-202/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">До 2000</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="184">
                                                <a href="/my/offers/folder-184/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Дом Мытищи</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="170">
                                                <a href="/my/offers/folder-170/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Квартира на Таганке</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="172">
                                                <a href="/my/offers/folder-172/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Корпоративный новый год 2013</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="183">
                                                <a href="/my/offers/folder-183/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Лиза</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="187">
                                                <a href="/my/offers/folder-187/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">На разбор</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="187">
                                                <a href="/my/offers/folder-187/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Ню</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="185">
                                                <a href="/my/offers/folder-185/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Отдых в Крыму 2015</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="180">
                                                <a href="/my/offers/folder-180/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Рабочие</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="190">
                                                <a href="/my/offers/folder-190/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Рассвет</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="171">
                                                <a href="/my/offers/folder-171/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">С телефона</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="191">
                                                <a href="/my/offers/folder-191/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Семья</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="179">
                                                <a href="/my/offers/folder-179/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Сохраненное</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="182">
                                                <a href="/my/offers/folder-182/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Сочи 2005</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="182">
                                                <a href="/my/offers/folder-182/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Тихие вечера</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="b-category-list__item">
                                            <div class="b-folders__item" data-id="182">
                                                <a href="/my/offers/folder-182/" class="b-category-list__a">
                                                    <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                                                    <span class="b-category-list__val">Турция (август 2014)</span>
                                                    <span class="b-category-list__count"></span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="b-category-list__item ">
                                    <a href="/my/profile/" class="b-category-list__a">
                                        <span class="b-category-list__val">Мои настройки</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </aside>
                    <div class="b-page__right-column col-sm-8 col-md-9">
                        
                        <section class="b-photos row">
                            <ul class="b-photos__ul">
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="1" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/1.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Январь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="2" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/2.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Февраль
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="3" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/3.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Март
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="4" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/4.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Апрель
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="5" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/5.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Май
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="6" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/6.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Июнь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="7" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/7.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Июль
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="8" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/8.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Август
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="9" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/9.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Сентябрь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="10" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/10.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Октябрь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="11" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/11.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Ноябрь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="b-photos__item col-xs-6 col-md-4">
                                    <div class="b-photos__inner">
                                        <a data-id="12" target="_blank" class="b-photos__link" href="#">
                                            <div class="b-photos__media">
                                                <img alt="" class="b-photos__image" src="asserts/12.png">
                                            </div>
                                            <div class="b-photos__name">
                                                Декабрь
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </section>

                    </div>
                </div>
            </div>
            <footer class="b-footer row">
                <div class="col-xs-12">
                    <div class="b-footer__inner">#footer#</div>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/template" class="template-other" id="tmpl__folders-list">
        <% for (var i = 1, len = rc.folders.length - 1; i <= len; i++) { %>
            <li class="b-category-list__item<% if (rc.folders[i].id == rc.current) { %> b-category-list__active<% } %>">
                <div class="b-folders__item" data-id="<%= rc.folders[i].id %>">
                    <a href="<%= rc.folders[i].url %>" class="b-category-list__a">
                        <svg viewBox="0 0 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder"></use></svg>
                        <span class="b-category-list__val"><% if (rc.folders[i].name.length > 0) { %><%= rc.folders[i].name %><% } else { %>Без имени<% } %></span>
                        <span class="b-category-list__count"><% if (rc.folders[i].cnt_offers > 0) { %>(<%= rc.folders[i].cnt_offers %>)<% } %></span>
                    </a>
                </div>
            </li>
        <% } %>
        <li class="b-category-list__item">
            <a href="#" class="b-category-list__a b-folders__create">
                <svg viewBox="-41 164.9 512 512" role="img" preserveAspectRatio="xMidYMid" class="b-category-list__icon"><use xlink:href="template/img/icons.svg#folder-create"></use></svg>
                <span>Создать папку</span>
            </a>
        </li>
    </script>

    <script type="text/template" class="template-other" id="tmpl__alert">
        <div id="alert-notify" class="alert alert-warning alert-fixed" role="alert">
            <div class="alert__text"><%= rc.text %></div>
        </div>
    </script>

    <script src="template/js/jquery-1.12.0.min.js"></script>
    <script src="template/js/svg4everybody.min.js"></script>
    <script src="template/js/underscore.min.js"></script>
    <script src="template/js/overthrow.min.js"></script>
    <script src="template/js/jquery.nanoscroller.min.js"></script>
    <script src="template/js-dev/00-common.js"></script>
    <script src="template/js-dev/10-visual.js"></script>
    <script src="template/js-dev/20-alert.js"></script>
    <script src="template/js-dev/30-category.js"></script>
    <script src="template/js-dev/40-folders.js"></script>

</body>
</html>